@font-face {
    font-family: 'Army Rust';
    src: url('assets/fonts/army-rust.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --accent-color: #1d7331;
    --dark-color: #051308;
}

* {
    font-family: 'Noto Serif', serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

::selection {
    background-color: var(--accent-color);
    color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border: 2px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
}
